
.heading {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
}

.container {
    width: 90%;
    margin: 30px auto;
}

/*  */
img {
    width: 80%;
    margin-left: 1.5em;
    margin-top: 3.5em;
}

h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0.035em;
}

.message-box {
    width: 70%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #333333;
    color: #ffffff;
    margin-top: 1em;
    padding: 1em 2.3em;
}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    margin-top: 3em;
    margin-left: 1em;
    font-weight: 700;

}

.user-name {
    text-decoration: none;
    font-weight: 500;
    color: #BDBDBD;
}

.user-name:hover,
.user-name:focus {
    border-bottom: 5px solid #000f89;
    color: #000f89;
}

/* Write media query here */
@media (min-width: 1025px) {
    img {
        width: 80%;
        min-width: 400px;
        margin-left: 0;
        margin-top: 2em;
    }
    
    .main-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
    }

    .message-box {
        width: 50%;
    }

    h1 {
        font-size: 64px;
    }

    body {
        font-size: 24px;
    }

    .right-half {
        width: 50%;
        margin-top: 2em;
    }

    .message-box {
        line-height: 36px;
        letter-spacing: -0.035em;
    }

    .btn {
        margin-top: 5em;
    }

    footer {
        font-size: 20px;
        text-align: center;
    }
    

}